#eventContainer h2 {
    margin-top: 0;
}

.nextEvent {
    background-color: lightgrey;
    font-size: 1.25em;
    font-weight: bold;
}

.nextEvent h4 {
    font-size: 1.25em;
    font-weight: bolder;
}

.nextEvent button {
    font-size: .8em;
    font-weight: normal;
}