/* import module css */
@import './header.css';
@import './tasks.css';
@import './messages.css';
@import "./events.css";
@import "./weather.css";
@import "./tasks.css";
@import "./friends.css";
@import "./articles.css";

/* other imports */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 0;
}

.dashboard {
    display: flex;
    justify-content: space-between;
}