#messageContainer {
    /* display: flex; */
    /* justify-content: flex-end */
    border: solid 1px darkgray;
    background-color: white;
    overflow: hidden;
}

#messages {
    overflow-y: scroll;
    max-height: 300px;
}

ul {
    list-style: none;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.currentUserMessageContainer {
    display: flex;
    justify-content: flex-end;
    
}

.message {
    background-color: gainsboro;
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    width : 100px;
    align-items: flex-start;
}
.currentUser {
    background-color: #9EE09E;
    /* text-align: right; */
    align-items: flex-end;
    
}
 #newMessageForm {
     background-color: #ccc;
     display: flex;
    justify-content: flex-end;
    padding: 5px;
}

#newMessage {
    margin-right: 5px;
}

#newMessageForm button {
    font-weight: bold;
    background-color: rgba(0, 0, 0, .25);
    border: none;
}

#newMessageForm button:hover {
    background-color: rgba(0, 0, 0, .4);
}

.deleteMessage {
   display: none;
   background-color: lightgrey;
}
.currentUserMessageContainer:hover .deleteMessage {
   display: inline;  
}

.editMessage {
    display: none;
    background-color: lightgrey;
 }

 .currentUserMessageContainer:hover .editMessage {
    display: inline;  
 }
