#messageContainer {
    /* display: flex; */
    /* justify-content: flex-end */
    border: solid 2px black;
    background-color: lightgrey;
}
ul {
    list-style: none;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.currentUserMessageContainer {
    display: flex;
    justify-content: flex-end;
    
}
.message {
    background-color: mediumorchid;
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    width : 100px;
    align-items: flex-start;
}
.currentUser {
    background-color: aquamarine;
    /* text-align: right; */
    align-items: flex-end;
    
}
 #newMessageForm {
     border: solid 2px black;
     display: flex;
    justify-content: flex-end;
    padding: 5px;
    
}

.deleteMessage {
   display: none;
   background-color: lightgrey;
}
.currentUser:hover .deleteMessage {
   display: inline;  
}

.editMessage {
    display: none;
    background-color: lightgrey;
 }

 .currentUser:hover .editMessage {
    display: inline;  
 }
